// P R I M A R Y

$blue: #0f519c;


// S E C O N D A R Y

$grey-bis : #f9f9f9;
$black : #393e45;
$light-grey : #bbc7d0;
$white : #eff2f5;


// F O N T S

$markpro-light : 'markpro-light'; 
$markpro : 'markpro-medium'; 
$markpro-bold : 'markpro-bold'; 

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}


// Z  I N D E X

$front : 9;
$middle : 6;
$back : 3;