@font-face { font-family: markpro-light; src: url(../fonts/FontFont_FF.Mark.Pro.Light.otf); }
@font-face { font-family: markpro-medium; src: url(../fonts/FontFont_FF.Mark.Pro.Medium.otf); }
@font-face { font-family: markpro-bold; src: url(../fonts/FontFont_FF.Mark.Pro.Bold.otf); }

@import 'variables';

@mixin no-scroll-bar() {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }
}

// C S S  R E S E T

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: $white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%; 

  body {
    @include no-scroll-bar();
  }

  article,
  aside,
  figure,
  footer,
  header,
  hgroup,
  section {
    display: block; }

  body,
  button,
  input,
  select,
  textarea {
    font-family: $markpro;
    border-radius: 2px; }

  button,
  a {
    cursor: pointer; }

  code,
  pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: sans-serif; }

  body {
    color: $black;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: $markpro;
    background-color: $white; }

  fieldset {
    margin: 0 2px;
    padding: 0.35em 0 0.75em;
  }

  a {
    // color: #3273dc;
    cursor: pointer;
    text-decoration: none; }
    a strong {
      color: currentColor; }
    a:hover {
      // color: #194690; 
    }

  hr {
    background-color: inherit;
    border: none;
    display: block;
    height: 2px;
    margin: 1.5rem 0; }

  img {
    max-width: 100%; }

  input[type="checkbox"],
  input[type="radio"] {
    vertical-align: baseline; }

  small {
    font-size: 0.875em; }

  span {
    font-style: inherit;
    font-weight: inherit;
    word-wrap: break-word; }

  strong {
    color: #121212;
    font-weight: 600; }

  pre {
    color: #121212;
    font-size: 0.875em;
    overflow-x: auto;
    padding: 1.25rem 1.5rem;
    white-space: nowrap;
    word-wrap: normal; }
    pre code {
      background-color: transparent;
      color: currentColor;
      font-size: 1em;
      padding: 0; }

  table
  td,
  th {
    text-align: left;
    vertical-align: top; }
    table
    td th,
    th th {
      color: #121212; }

  ul {
    list-style: none;

    li {
      list-style: none;
    }
  }
}

// E N D


// N A V B A R

.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px 5%;
  background-color: transparent;
  min-height: 55px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: calc(100% - 5% * 2);

  &--logo {
    font-size: 20px;
    position: relative;
    color: #fff;
    font-family: $markpro-bold;

    img {
      height: 55px;
      vertical-align: middle;
    }

    span {
      font-family: $markpro-light;
    }
  }

  &--menu {
    $menu-width: 35px;
    margin-left: auto;
    position: relative;
    min-height: 35px;
    width: $menu-width;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: $menu-width;
      background-color: #fff;
      right: 0;
      transition: all .3s;
      
      $top-paramater: 10px;
      &:nth-child(1) {
        top: $top-paramater - 5;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: $top-paramater + 5;
      }

      &:nth-child(4) {
        top: $top-paramater + 10 + 5;
      }
    }

    // M E N U  I C O N  H O V E R
    &:hover {

      span:nth-child(1) {
        transform: translateX(-10px);
      }

      span:nth-child(4) {
        transform: translateX(10px);
      }
    }
  }
}

// E N D


// M A I N 

.main {
  position: relative;
  overflow-x: hidden;
}

// E N D