@font-face {
  font-family: markpro-light;
  src: url(../fonts/FontFont_FF.Mark.Pro.Light.otf); }
@font-face {
  font-family: markpro-medium;
  src: url(../fonts/FontFont_FF.Mark.Pro.Medium.otf); }
@font-face {
  font-family: markpro-bold;
  src: url(../fonts/FontFont_FF.Mark.Pro.Bold.otf); }
* {
  padding: 0;
  margin: 0; }

html {
  background-color: #eff2f5;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%; }
  html body::-webkit-scrollbar {
    height: 0;
    width: 0; }
  html body::-webkit-scrollbar-thumb {
    height: 0;
    width: 0; }
  html body::-webkit-scrollbar-track {
    height: 0;
    width: 0; }
  html article,
  html aside,
  html figure,
  html footer,
  html header,
  html hgroup,
  html section {
    display: block; }
  html body,
  html button,
  html input,
  html select,
  html textarea {
    font-family: "markpro-medium";
    border-radius: 2px; }
  html button,
  html a {
    cursor: pointer; }
  html code,
  html pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: sans-serif; }
  html body {
    color: #393e45;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "markpro-medium";
    background-color: #eff2f5; }
  html fieldset {
    margin: 0 2px;
    padding: 0.35em 0 0.75em; }
  html a {
    cursor: pointer;
    text-decoration: none; }
  html a strong {
    color: currentColor; }
  html hr {
    background-color: inherit;
    border: none;
    display: block;
    height: 2px;
    margin: 1.5rem 0; }
  html img {
    max-width: 100%; }
  html input[type="checkbox"],
  html input[type="radio"] {
    vertical-align: baseline; }
  html small {
    font-size: 0.875em; }
  html span {
    font-style: inherit;
    font-weight: inherit;
    word-wrap: break-word; }
  html strong {
    color: #121212;
    font-weight: 600; }
  html pre {
    color: #121212;
    font-size: 0.875em;
    overflow-x: auto;
    padding: 1.25rem 1.5rem;
    white-space: nowrap;
    word-wrap: normal; }
  html pre code {
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0; }
  html table
  td,
  html th {
    text-align: left;
    vertical-align: top; }
  html table
  td th,
  html th th {
    color: #121212; }
  html ul {
    list-style: none; }
    html ul li {
      list-style: none; }

.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px 5%;
  background-color: transparent;
  min-height: 55px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: calc(100% - 5% * 2); }
  .navbar--logo {
    font-size: 20px;
    position: relative;
    color: #fff;
    font-family: "markpro-bold"; }
    .navbar--logo img {
      height: 55px;
      vertical-align: middle; }
    .navbar--logo span {
      font-family: "markpro-light"; }
  .navbar--menu {
    margin-left: auto;
    position: relative;
    min-height: 35px;
    width: 35px;
    cursor: pointer; }
    .navbar--menu span {
      display: block;
      position: absolute;
      height: 2px;
      width: 35px;
      background-color: #fff;
      right: 0;
      transition: all .3s; }
      .navbar--menu span:nth-child(1) {
        top: 5px; }
      .navbar--menu span:nth-child(2), .navbar--menu span:nth-child(3) {
        top: 15px; }
      .navbar--menu span:nth-child(4) {
        top: 25px; }
    .navbar--menu:hover span:nth-child(1) {
      transform: translateX(-10px); }
    .navbar--menu:hover span:nth-child(4) {
      transform: translateX(10px); }

.main {
  position: relative;
  overflow-x: hidden; }

/*# sourceMappingURL=base.css.map */
