@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

$open-sans : 'open sans';

@import 'variables';

body {
	width: 100%;
    max-width: 100%;
    font-family: Open Sans!important;
    padding: 0px;
    margin: 0px;
    background: #eff2f5;
    -webkit-font-smoothing: auto;

    .master-body {
    	background-image: linear-gradient(to bottom, #50d6b6 0%, #43bdab 68%, #36a49f 100%);
	    max-width: 100%;
	    overflow: hidden;
	    transition: all .2s ease-in-out;
	    max-width: calc(700px - 16%);
	    padding: 5% 8% 0;
	    margin: 0 auto;
	    min-height: calc(100vh - 3%);
	    color: #393e45;
	    position: relative;

	    .logo {
	    	margin-top: 25%;
	    	margin-bottom: 25%;
	    	position: relative;
	    	z-index: 1;

	    	img {
	    		height: 55px;
	    	}
	    }

	    .upper {
	    	color: #fff; //#32343c
	    	margin-bottom: 25px;
	    	position: relative;
	    	z-index: 1;

	    	.title {
	    		font-size: 25px;
	    		font-weight: 700;
	    	}

	    	.subtitle {
	    		font-size: 17px;
	    		font-weight: 400;
	    	}
	    }

	    .form-wp {
	    	width: 100%;
	    	padding: 0;
	    	position: relative;
	    	z-index: 1;

	    	.form-control {
	    		width: 100%;
	    		display: flex;
	    		align-items: center;
	    		position: relative;
	    		margin-bottom: 15px;

	    		span {
	    			position: absolute;
	    			left: 10px;
	    			top: 50%;
	    			transform: translateY(-50%);
	    			height: 35px;
	    			width: 35px;
	    			border-radius: 50px;
	    			background-color: rgba(255, 255, 255, .3); //rgba(54, 164, 159, .3)
	    			color: #fff;

	    			i {
	    				font-size: 17px;
	    				position: absolute;
	    				left: 50%;
	    				top: 50%;
	    				transform: translate(-50%, -50%);
	    			}
	    		}

	    		input {
	    			width: calc(100% - 0px);
	    			padding: 10px 15px 10px 55px;
	    			background-color: transparent;
	    			min-height: 55px;
	    			font-size: 17px;
	    			border-bottom: 3px solid #fff;
	    			border-top: none;
	    			border-left: none;
	    			border-right: none;
	    			color: #fff;
	    			transition: all .6s;
	    			@include placeholder {
					    color: white;
					}

	    			&:focus {
	    				border: 2px solid #fff;
		    			border-radius: 4px;
		    			outline: none;
	    			}
	    		}

	    		button {
	    			width: 100%;
	    			min-height: 45px;
	    			border-radius: 4px;
	    			color: #fff;
	    			background-color: lighten(#36a49f,10%);
	    			border: none;
	    			outline: none;
	    			font-weight: 400;
	    			font-size: 18px;
	    			letter-spacing: 1px;
	    			box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
	    		}
	    	}
	    }

	    .bottom-image {
	    	position: absolute;
	    	z-index: 0;
	    	left: 0;
	    	bottom: 0;
	    	opacity: .6;
	    	width: 100%;

	    	img {
	    		width: 100%;
	    	}
	    }
    }
}